<html lang="en" >
<head>
  <title> ToDo Application
  </title>

</head>
<body >
  <div ng-app="todoApp">
  Here is the basic application setup.
  <br>

  <div ng-controller="twoWayBindingCtrl" ng-init="fullname='ddd'">
    <label for="fname"> First name: </label>
    <input type="text" id="fname" ng-model="first"/>
    <br>
    <br>
    <label for="lname"> Last name: </label>
    <input type="text" id="lname"  ng-model="last"/>
    <br>
    <br>
      <label id="dd"> {{last}} , {{first}}</label>
    <label id="d"> {{fullname}} </label>
    <p>The name is <span ng-bind="fullname"></span></p>


    <br>
    <input type="button" id="concat" value="Concat" />
  </div>

<!--<div>
  	<h1>Hello {{name}}</h1>
 	<p>Name : <input type="text" ng-model="name"></p>

</div>-->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script>
  var app = angular.module('todoApp',[]);

  app.controller('twoWayBindingCtrl', function($scope) {

    $scope.fullname = $scope.first;
  });

</script>
</body>

</html>
