
        <div   ng-init="name:'example'">
            Here is the basic application setup.
            <br>

            <hr/>

            <div>
                {{test}} one way binding here:
                <br />
                <h1>Hello
                    {{name}}</h1>
                <p>Name :
                    <input type="text" ng-model="name"></p>

                <br/>
                Binding tag:
                <p ng-bind="name"></p>

            </div>
            <hr/>
            <div loop-directive></div>
            <div ng-controller="loopme">
                <ul>
                    <li ng-repeat="x in names | orderBy:x">
                        {{ x |uppercase }}
                    </li>
                </ul>
            </div>

            <div>

                <div ng-controller="twoWayBindingCtrl">
                    {{test}} 2 way way binding here:
                    <br/>

            
                    <label for="fname">
                        First name:
                    </label>
                    <input type="text" id="fname" ng-model="first"/>
                    <br>
                    <br>
                    <label for="lname">
                        Last name:
                    </label>
                    <input type="text" id="lname" ng-model="last"/>
                    <br>
                    <br>
                    <label id="combo">
                        Comb of fist n last name
                        {{last}}
                        ,
                        {{first}}</label>
                    <br >
                    <label id="full">
                        how to make this work...Full name is using ng-init is
                        {{fullname()}}
                    </label>

                    <br>

                </div>
            </div>
            <hr/>
        </div>
